*,
*::after,
*::before {
  box-sizing: border-box;
}

.table{
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem;
}

.playerTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid hsl(200, 100%, 10%);
    border-radius: 0.25rem;
    padding: 0.25rem;
}
